
// Font family
$font-family: 'Open Sans', sans-serif;

// Colors
$color-principal: #4d4dff;
$color-oscuro: #3655b3;
$color-claro: #d3deff;
$color-secundario: #a6bcff;
$color-blanco: #fff;
$color-negro: #000;
